* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    width: 100%;  
  }
  
  #footer {
    background-image: url("image.png");
    background-repeat: repeat-x;
    background-size: contain;
    bottom: 0;
    height: 100px;
    position: fixed;
    width: 100%;
  }